a{
    color: white;
}
*{
    box-sizing: border-box;
}
h1, h2, body, p, form{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
header{
    padding: 200px 0;
    background-image: url(img/images_LE_upscale_prime.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: white;
}
hr{
    border: white 3px solid;
    border-radius: 12px;
    margin-bottom: 20px;
}
header h1{
    font-size: 55px;
    margin-bottom: 20px;
}
header p{
    width: 600px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
header button{
    padding: 20px 30px;
    margin-left: 40px;
    background-color: transparent;
    border: white 3px solid;
    color: white;
    vertical-align: top;
}
header button:hover{
    background-color: white;
    color: black;
    border: none;
}
header .cover{
    background-color: rgba( 14%, 16%, 26%, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.photo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px 450px 450px;
}
.item:nth-child(1){
    background-image: url(img/images_LE_upscale_prime1.jpg);
}
.item:nth-child(2){
    background-image: url(img/kopchenye-myasnye-delikatesy_LE_upscale_prime.jpg);
    grid-column: 2/4;
}
.item:nth-child(3){
    background-image: url(img/shk_1_LE_upscale_prime.jpg);
    grid-column: 1/3;
}
.item:nth-child(4){
    background-image: url(img/b50d_0_LE_upscale_prime.jpg);
}
.item:nth-child(5){
    background-image: url(img/images_LE_upscale_prime2.jpg);
}
.item:nth-child(6){
    background-image: url(img/images_LE_upscale_prime3.jpg);
    grid-column: 2/4;
}
.photo .item{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}
.itemcover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
}
.cover1{
    background-color: rgba(122, 192, 216, 0.7);
}
.cover2{
    background-color: rgba(226, 146, 137, 0.7);
    
} 
.cover3{
    background-color: rgba(223, 182, 144, 0.7);
    
}
.cover4{
    background-color: rgba(143, 134, 193, 0.7);
}
.cover5{
    background-color: rgba(139, 161, 218, 0.7);
}
.cover6{
    background-color: rgba(121, 174, 150, 0.7);
}
.itemcover:hover{
    opacity: 0;
}
.itemcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
h2{
    font-size: 49px;
    padding-bottom: 20px;
    padding-right: 50px;
    border-bottom: solid white 5px;
    margin-bottom: 20px;
}
.itemcontent p{
    letter-spacing: 5px;
}
.feedback{
    background-color: #2e3452;
    padding: 100px 0;
}
.feedbackcontent{
    color: white;
}
li{
    font-size: 20px;
}
.secti{
    margin-bottom: 50px;
}
.info{
    font-size: 30px;
}
.feedback h2{
    text-align: center;
    margin-bottom: 50px;
}
.contact{
    background-color: #242943;
    padding: 100px 0;
    color: white;
}
.contact form{
    display: grid;
    grid-template-rows: minmax(auto, auto) 50px 
    minmax(auto, auto) 150px 50px;
    grid-template-areas: "nametext emailtext" "name email" 
    "massagetext massagetext" "massage massage" "button .";
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
#nametext{
    grid-area: nametext;
}
#name{
    grid-area: name;
    background-color: #2e3452;
}
#emailtext{
    grid-area: emailtext;
}
#email{
    grid-area: email;
    background-color: #2e3452;
}
#massagetext{
    grid-area: massagetext;
}
#massage{
    grid-area: massage;
    resize: none;
    background-color: #2e3452;
}
.contact button{
    grid-area: button;
    border: none;
    color: #242943;
}
.contact input{
    border: none;
}
.contact textarea{
    border: none;
}
.contact button:hover{
    background-color: #242943;
    border: solid white 1px;
    color: white;
}
.contact h2{
    text-align: center;
}